<header id="main_navigation" class="clearfix">
  <%= link_to "Kevin Vermeulen", root_path, :class => "name"%>
  <nav>
    <%= link_to "Blog", posts_path, :class => "a"%>
    <a href="#">CV</a>
    <a href="#">Contact</a>
  </nav>
</header>
